/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status
.idea
.DS_store
vendor

Gemfile.lock

# generated proto files
lib/mjxproto/mjx_pb.rb
lib/mjxproto/mjx_services_pb.rb

lib/mjx_mjai_translater/output.txt
lib/mjx_mjai_translater/output1.txt
mjx_mjai_translater/output2.txt
